### Create the string, int and float variable and delete them all in the next cell

In [11]:
string1 = "This is a string"

In [2]:
int_var = 1985

In [3]:
float_var = 99.68

In [13]:
print(string1)
print ( int_var)
print ( float_var)

This is a string
1985
99.68

In [14]:
del string1, int_var, float_var

In [16]:
print ( int_var)

NameError: name 'int_var' is not defined

### Result of assigning a value to a ‘keyword’ & Highlight the error

In [17]:
print = value a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(= value a)? (Temp/ipykernel_17640/471940451.py, line 1)

In [22]:
True = 'True value'

SyntaxError: cannot assign to True (Temp/ipykernel_17640/1105340133.py, line 1)

### Multi-line statement and assign it to a variable ( Without using a backslash “\” )

In [24]:
var1 = (1 + 2 + 3 +
4 + 5 + 6 + 10 + 12 +
14 + 18)

In [25]:
print ( var1 )

75

### Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [30]:
range ( 100, 999)

range(100, 999)

In [48]:
list(range(100, 999, 8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

### “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [52]:
for n in range (1,20):
    print (n)
    if (n/2):
        break

1

### calling the docstring from outside the function

In [56]:
def func1():
    """Example to call the docstring outside the function"""
    print ("Docstring Check")

In [58]:
func1()

Docstring Check

In [59]:
print (func1.__doc__)

Example to call the docstring outside the function

### user-defined package, function to calculate area of triangle

In [61]:
def func2():
    """ This is for 2nd check"""
    print('2nd practice')

In [63]:
import my_packages

In [67]:
from my_packages import test_packages

In [69]:
test_packages.a, test_packages.b, test_packages.c

(15, 51, 17)

In [73]:
a = test_packages.a

In [75]:
b = test_packages.b

In [76]:
c = test_packages.c

In [79]:
s = (a + b + c)/2

In [105]:
print ('Value of Semi Perimeter'); s

Value of Semi Perimeter

41.5

In [101]:
area = (s*(s-a) * (s-b) * (s-c)) ** 0.5

In [102]:
print ( 'Area of Triangle'); area

Area of Triangle

(3.097937745838546e-14+505.93162828587816j)

### list comprehension to print the odd numbers from 0 to 100

In [106]:
list2 = range (0,100)

In [117]:
for a in list2:
    if a % 2 != 0:
        print(a, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

### print name excluding vowels

In [125]:
name = 'Karthikeyan'

In [10]:
print(name)

Karthikeyan

In [11]:
list(name)

['K', 'a', 'r', 't', 'h', 'i', 'k', 'e', 'y', 'a', 'n']

In [8]:
for i in 'Karthikeyan':
    if i in ['a','e','i','o','u']:
        continue
    print(i)

K
r
t
h
k
y
n

In [30]:
for a in name if a == 'e':
    continue
    print (a)

SyntaxError: invalid syntax (Temp/ipykernel_6016/3529826698.py, line 1)

In [31]:
list_city = ["Chennai","Kolkata","Mumbai"]
len(list_city)

3

In [35]:
for i in range(len(list_city)):
    print('I like to go to: ',list_city[i])

I like to go to:  Chennai
I like to go to:  Kolkata
I like to go to:  Mumbai

In [41]:
num = [1, 10, 100]

for i in num:
    print('I have', i, 'days')
else:
    print('Else block')

I have 1 days
I have 10 days
I have 100 days
Else block

In [43]:
num = [1, 10, 100]

for i in num:
    if i==10:
        break
    print('the number is', i,)
else:
    print('I have',i,'days')

the number is 1

## While loop

In [47]:
# sum of numbers

num = int(input('Enter the number'))

i = 0
sum_var = 0

while i < num:
    sum_var = sum_var + i
    print(i)
    i = i + 1
        
print('The sum of number is :' ,sum_var)
#0+1+2+3+4

#num = 5
# i = o, sum_var=0
# while i < 5
# sum_var = sum_var + i
# i = i +1

Enter the number5
0
1
2
3
4
The sum of number is : 10

In [51]:
i = 0
sum_var = 0

while i < num:
    i = i + 1
else:     
    print(i)

5

### Break and countiue

In [52]:
for i in 'Country':
    if i == 'r':
        break
    print(i)

C
o
u
n
t

In [62]:
for i in 'Country':
    if i in ['r','y','C']:
        continue
    print(i)

o
u
n
t

In [59]:
# pass/null statement explanation
list_val = ['P','a','s','s']
for i in list_val:
    pass

### Functions

In [63]:
def greetings (name):
    """ Function to greet someone"""
    print('Hello', name, "How're you")

In [64]:
greetings('guys')

Hello guys How're you

In [65]:
print(greetings.__doc__)

 Function to greet someone

In [68]:
def Absolute_val(val):
    val1=abs(val)
    print(val1)

In [71]:
Absolute_val(-8)

8

In [69]:
def value(k):
    if k>0:
        print(a)
    else:
        a=a*-1
        print(a)

In [73]:
def absolute_val(value):
    """ Function to return the absolute value"""
    if value > 0:
        return value
    else:
        return -value

In [74]:
absolute_val(-2)

2

In [75]:
def func():
    a=10 # local variable
    print('inside the funciton',a)
    
a = 20 #global variable
func()
print('Outside the function',a)

inside the funciton 10
Outside the function 20

### Function arguments

#### Positional arguments

In [79]:
def greet(arg1, arg2):
    """ Function with arguments"""
    print(arg1, arg2, 'everyone!')

In [78]:
greet('Good','Evening')

Good Evening everyone!

#### Default arguments

In [80]:
def greet(arg1, arg2 ="Good Morning"):
    print("Hello",arg1, arg2)

In [81]:
greet('People')

Hello People Good Morning

In [83]:
greet ( 'People,','All good?')

Hello People, All good?

In [86]:
def greet(arg2 ="Good Morning",arg1):
    print("Hello",arg2,arg1)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_6016/3466440356.py, line 1)

#### Keyword arguments

In [91]:
greet("Hi","Everyone")

Hello Hi Everyone

In [93]:
greet(arg1="Hi",arg2="Everyone")

Hello Hi Everyone

In [94]:
greet(arg2="Everyone",arg1="Hi")

Hello Hi Everyone

#### Recursion

In [ ]:
def fn1():
    #statement

In [ ]:
#factorial of a number
# 5! = 5*4*3*2*1 = 120

In [95]:
def recursion(x):
    if x == 1:
        return x
    else:
        return(x* recursion(x-1))
    
num = 5
print('Factorial of', num, 'is', recursion(num))

Factorial of 5 is 120

In [96]:
def recursion(x):
    if x == 1:
        return x
    else:
        return(x* recursion(x-1))
    
x = 5
print('Factorial of', x, 'is', recursion(num))

Factorial of 5 is 120

### Lamda - Anonymous function

In [1]:
cube = lambda x,y : x*y
cube(10,5)

50

#### Filter

###### Filter takes in a function and a list of argument
###### The  function is called with the items in the list, and a new list is returned containing the items for which he function evaluate to True

In [2]:
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
fil = list(filter(lambda x :x%2 ==0, my_list))
print("Applying the filter operation: ", fil)

Applying the filter operation:  [0, 2, 4, 6, 8]

### Map

###### - Filter takes in a function and a list of argument

##### -Every items in the list will be returned based on the function that we're performing

In [8]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

my_list = list(map(lambda x:x%2==0, my_list))
print(my_list)

[False, False, True, True, True, False, False, True]