In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
name = input('Enter your name: ')
age = int(input('Enter you age: '))
current_year = int(input('Enter current year: '))
Hundred = current_year+(100-age)
print('Hi',name,'You turn old 100 years in',Hundred)

Enter your name: Kartik
Enter you age: 37
Enter current year: 2022
Hi Kartik You turn old 100 years in 2085

#### What is pandas groupby? Demonstrate with your own example

In [ ]:
# Pandas Groupby is used to group two columns and perform mathematical opertions in it.

In [ ]:
df1 = pd.DataFrame(np.random.randn(5, 3),columns=['one','Two','Three'])
df1

In [ ]:
df1.groupby(['one'])['Two'].sum()

#### How to create a dataframe from list?

In [ ]:
list2 = [['raj',1, 10],['raj1',2, 56], ['Name3', 3, 66]]
df3 = pd.DataFrame(list2, columns=['Name','Slno', 'Column3'])
df3

#### Ways to combine DF are append & concatenate

In [ ]:
df_left = pd.DataFrame({'Name':['Alex','Amy','Allen','Alice','Ayoung'], 
                        'Age':[10,12,13,13,12], 
                        'SubjectId':['Sub1','Sub2','Sub4','Sub6','Sub7']})

df_right = pd.DataFrame({'Name':['Billy','Brian','Bran','Bryce','Betty'],
                         'Age':[11,12,13,12,13],
                         'SubjectId':['Sub2','Sub4','Sub3','Sub6','Sub5']})

In [ ]:
df_left

In [ ]:
df_right

In [ ]:
df_left.append(df_right, ignore_index = True)

#### What is the difference between list and tuples in Python?
#### List is mutable but tuples are immutable

In [ ]:
list5=list(range(10))
list5

In [ ]:
list5[6]=20
list5

In [ ]:
tup1=(0,1,2,3,4,5,6,7,8,9)
print(tup1)

In [ ]:
tup1[2]=13

#### the mean, median and standard deviation of this numpy array -> np.array([1,5,3,100,4,48])

In [ ]:
x1 = np.array([1,5,3,100,4,48])
x1

In [ ]:
print(np.mean(x1,axis=0))

In [ ]:
print(np.median(x1,axis=0))

In [ ]:
print(np.std(x1,axis=0))

#### you remove duplicate elements from a list?

In [ ]:
dup1=[1,2,3,4,5,1,2,3,4,5]
list(set(dup1))

####  What is a map() function in Python? Give an example
#### Caclulates & returns the value of every element in a list

In [ ]:
list10=[1,2,3,5,6,7,8]
map1 = list(map(lambda x: x*2,list10))
print(map1)

####  What is pass in Python?

In [ ]:
list_val = [1,2,3,4,5,8]

for i in list_val:
#    add = add + i
    if i == 5:
        pass
    print(i)

#### vstack() in numpy? Give an example

In [ ]:
a1 = np.array([[1,2,3,4],[5,6,7,8]])
a1

In [ ]:
b1 = np.array([[11,12,13,14],[15,16,17,18]])
b1

In [ ]:
np.vstack((a1,b1))